node_modules
/output
/build
/server-build
/www/.next
/www/out
/www/build
/www/coverage
.DS_Store
inf/ansible/group_vars/*.yaml
!inf/ansible/group_vars/ci/*.yaml
inf/kube/overlays/ci/ingresses.yaml
inf/ansible/inventories/credentials
*.tar.gz
*.log
*.log.gz
.next
/secrets
*.pem
*.vdi
.secret
*.plain
.release
tmp
.terraform
.vagrant
/.env
/yarn.lock
terraform.tfstate.*
*.retry
*.plain.*
*.bak
*.crt
*.key
*.csr
.pnp
.pnp.js
.vercel
*.local
.eslintcache
*.lock.hcl
*.sqlite
